In [7]:
import pandas as pd

alphabet_data = []

for i in range(1,27):
    alphabet_data.append({'lower' : chr(i+96), 'upper' : chr(i+64), 'index' : i})
    
alphabet_df = pd.DataFrame(alphabet_data)
alphabet_df.index += 1
alphabet_df.drop(['index'],axis=1)
alphabet_df

    index lower upper
1       1     a     A
2       2     b     B
3       3     c     C
4       4     d     D
5       5     e     E
6       6     f     F
7       7     g     G
8       8     h     H
9       9     i     I
10     10     j     J
11     11     k     K
12     12     l     L
13     13     m     M
14     14     n     N
15     15     o     O
16     16     p     P
17     17     q     Q
18     18     r     R
19     19     s     S
20     20     t     T
21     21     u     U
22     22     v     V
23     23     w     W
24     24     x     X
25     25     y     Y
26     26     z     Z